# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__
+ Popular Languages for Data Science
+ Libraries used for Data Science
+ Tools for Data Science
+ Some Arithmetic Operation Examples

Some of the popular languages that Data Scientist use are:
1. Python
2. R
3. SQL
4. Javascript

Some of the commonly used libraries by Data Scientist includes:
1. numpy
2. pandas
3. matplotlib
4. keras
5. sklearn

|Data Science Tools|
-----------------------------
|Apache Spark|
|KNIME|
|Jupyter Lab|
|Watson Studio|
|R Studio|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
#This will convert 200 minutes to hours by diving by 60
minutes=200
hours=minutes//60
print(hours)

3

## Author
Gayathri Thejusee S